{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block head %}

{% endblock head %}


{% block content %}

<div id = 'getLocations'>
        <button id = 'id_get_location'>Get Location</button>
</div>
<p id = 'demo'></p>

<div class="form-group">
        <label>Profile</label>
        <img src="{{user.username.image.url}}" width = '240'>
        <p>Username : {{user.username}}</p>
        <p>First Name : {{user.first_name}}</p>
        <p>Last Name : {{user.last_name}}</p>
        <p>email : {{user.email}}</p>
        <p>Photo : {{user.profile_pic}}</p>

</div>
<div class="container">
        <a href="{% url 'change_password' %}" class="btn btn-outline-info">Change Password</a>
        <a href="{% url 'edit_profile' %}" class="btn btn-outline-info">Edit</a>

       
</div>
<div>
        <h5>Address View here.</h5>
        {{add_form.as_p}}
</div>
<div id=map>
      <button id='id_map'>MAP</button>
</div>
<button>New</button>
{% endblock content %}
